body {
   background-image: url("1bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  color: #fff;
  font-family: 'Inter', sans-serif;

  max-width: 1000px;
  margin: auto;
  padding: 24px;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

.logo {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

h1 {
  font-size: 28px;
  font-weight: 700;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}

.category {
  background: #181818;
  padding: 16px;
  border-radius: 12px;
}

.dropdown-header {
  background: #121212;
  padding: 12px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  position: relative;
}

.dropdown-header::after {
  content: "▾";
  position: absolute;
  right: 14px;
}

.dropdown-list {
  display: none;
  margin-top: 10px;
  flex-wrap: wrap;
  gap: 12px;
}

.dropdown-list.open {
  display: flex;
  flex-wrap: wrap;
}

.cover-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid transparent;
  transition: transform 0.2s, border 0.2s;
  width: 100px;
}

.cover-card img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
}

.cover-card span {
  margin-top: 6px;
  font-size: 14px;
  text-align: center;
}

.cover-card.selected {
  border-color: #ffffff;
  transform: scale(1.05);
}

.send-btn {
  margin-top: 24px;
  padding: 12px 24px;
  background-color: #cbcbcb; 
  color: #000000;
  border: none;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.send-btn:hover {
  background-color: #808080;
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.4);
}

.send-btn:active {
  transform: translateY(0);
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.tg-logo-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
}

.tg-logo {
  width: 700px; 
  height: 110px;
  cursor: pointer;
  transition: transform 0.2s;
}
